* {
  margin: 0;
  padding: 0;
}

.main_conteiner {

  width: 100%;
  overflow-x: hidden;

}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 113px;
  padding-right: 113px;

}

.top-cont-box {

  flex-direction: column;
  height: 100%;
}

.main_content {
  /* min-height: 768px; */
  margin-bottom: 32px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
}

.top_content {
  min-height: 768px;
  padding-top: 42px;
  margin-bottom: 32px;
  flex-grow: 1;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);


}

.top_button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  display: inline-block;
  text-decoration: none;
  margin-top: 71px;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}

.heading {
  color: #1F3F68;
  font-size: 64px;
  font-weight: 100;
  font-style: normal;
  line-height: 74px;
  width: 510px;
  letter-spacing: 0.04em;
  padding-top: 115px;
}

.heading_h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading_h3 {
  font-size: 36px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  font-weight: 300;
}

.heading_h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 14px;

}

.input {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.button_submit {
  background: #5A98D0;
  box-shadow: 5px 20px 50 px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 72px;
  padding: 23px 183px;
}

.map {
  width: 940px;
  margin: 96px;
}

.header {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* margin-top: 40px; */
}

.text_new {
  width: 510px;
  color: #1F3F68;
  opacity: 0.6;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 26px;
}

.text {

  color: #1F3F68;
  opacity: 0.6;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 26px;
}

.what-we-do {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 64px;

}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding-bottom: 64px;
}

.footer {
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
  background: #316099;

}

.interest_to_woek {
  width: 495px;

}

.ul {
  margin-top: 64px;
  display: flex;

  justify-content: space-between;
  margin-left: 113px;
  flex-grow: 1;
  flex-basis: 33.3333%;
}

.list {
  flex-grow: 1;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 17px;
}







.main {
  display: flex;
}

.card_link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 54px;
}

.text_project {
  width: 75%;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  margin: 32px auto 64px;
}

.project-img {
  width: 100%;
}

.project_text {
  position: absolute;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #fdfdfd;
  top: 64px;
  right: 64px;
}


.project_item {
  position: relative;
  flex-grow: 1;

}

.parent_item {

  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 112px;
}

.project_item_margin {
  margin-right: 32px;
  position: relative;
}

.heading_interest {
  width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-weight: normal;
  margin-top: 91px;
  margin-left: 113px;
}

.text_interest {
  width: 495px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
  font-weight: normal;
  margin-top: 32px;
  margin-left: 113px;
}

.bottom_button {
  background: #5A98D0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding: 15px 80px;


}

.project_text_mini {
  position: absolute;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  right: auto;
  left: 32px;
  top: 32px;
  text-align: left;
}

.project_item3 {
  position: relative;
}

.project_text_mini2 {
  position: absolute;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 32px 650px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
}

hr {
  opacity: 0.4;
}

.rigts {
  margin-top: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
  margin-left: 113px;
}

.header_contact {
  margin-top: 40px;
  margin-left: 113px;
  margin-right: 113px;
}

.top_pic_bg {
  background-image: url(img/bg_contact.png);
  height: 250px;
  margin-bottom: 50px;
}

.heading_h3_contact {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-top: 50px
}

.top_text_contact {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.left_content {
  margin-top: 80px;
  margin-left: 214px;
}

.left_content_h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-top: 56px;
  margin-bottom: 24px;
}

.left_content_h4_phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-top: 40px;
  margin-bottom: 24px;

}

.left_text_contact {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  width: 300px;
}

.left_ul_num {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  list-style-image: url(img/phone.svg);
  list-style-position: inside;
}

.left_li {
  margin-bottom: 16px;
}

.left_li_web {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 16px;
  list-style-image: url(img/web.svg);
  list-style-position: inside;
}

.left_li_mail {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 16px;
  list-style-image: url(img/mail.svg);
  list-style-position: inside;
}

.rigth_content_h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 48px;
}

.rigth_content {
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 56px 56px 56px 56px;
  margin-left: 102px;
}

.name_input {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  margin-bottom: 8px;
  margin-top: 32px;
}

.input {
  opacity: 0.4;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  width: 428px;
  height: 72px;
}

.placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .card {
    margin-bottom: 32px;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }

  .main_content {
    background-position: right 260px;
  }

  .footer {
    padding-top: 38px;
  }

  .heading_interest {
    margin-top: 0px;
  }

  .text_interest {
    width: 336px;
  }

  .bottom_button {
    padding: 5px 40px;
  }

  .ul {
    flex-direction: column;
    width: 1024px;
  }

  .header_contact {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .container_contact {
    flex-direction: column;
  }

  .left_content {
    margin-top: 0;
    align-items: center
  }

  .rigth_content {
    margin-top: 64px;
    width: 520px;
    margin-left: 35px;
    margin-right: 124px;
    align-items: center;

  }

  .rigth_content_h4 {
    width: 178px;
  }

  .map {
    width: 668px;
    margin-left: 0;
  }

  .name_input {
    width: 412px;
    height: 70px;
  }
}


@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .what-we-do {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
    padding-top: 48px;

  }

  .header {
    padding-top: 24px;
  }

  .project_item_margin {
    margin: 0;
    margin-bottom: 16px;
  }

  .parent_item {
    flex-direction: column;
    margin-top: 16px;
  }

  .products {
    margin-top: 32px;
  }

  .text_project {
    width: 100%;
  }

  .heading_h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .project_text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project_text_mini {
    font-size: 16px;
    line-height: 19px;
    left: 16px;
  }

  .top_content {
    padding-top: 0px;
    min-height: 376px;
    padding-bottom: 41px;
  }

  .top_button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
    margin-top: 32px;
  }

  .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;

  }

  .heading {
    padding-top: 36px;
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }

  .text_new {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .heading_interest {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 18px;
  }

  .text_interest {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .footer_top {
    flex-direction: column;
    padding-bottom: 41px;
    width: 280px;
  }

  .footer {
    padding-top: 0;
  }

  .rigts {
    text-align: center;
    margin-top: 37px;
    margin-left: 15px;
  }

  .ul {
    margin-top: 32px;
    margin-left: 56px;
  }

  .header_contact {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .heading_h3_contact {
    font-size: 24px;
    line-height: 28px;
  }

  .top_text_contact {
    font-size: 16px;
    line-height: 30px;
  }

  .left_content {
    margin-top: 80px;
    margin-left: 40px;
  }

  .rigth_content_h4 {
    font-size: 16px;
    margin-bottom: 31px;
  }

  .name_input {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    height: 45px;

  }

  .rigth_content {
    width: 230px;
    margin-left: 0;
  }

  .input {
    width: 271px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .button_submit {
    padding: 15px 100px;
    margin-top: 45px;
  }

  .map {
    width: 330px;
  }
}